.notesList {
  padding: 20px 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.createBtn {
  position: sticky;
  top: 10px;
  z-index: var(--button-z-index);
  margin-bottom: 20px;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}
