.mainLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 2px solid var(--ant-color-border);
  box-shadow: var(--ant-box-shadow-drawer-down);
}
