:root {
  --button-z-index: 10;
  --popup-z-index: 20;
  --modal-z-index: 30;

  --app-font-xxl: 28px;
  --app-font-xl: 24px;
  --app-font-lg: 20px;
  --app-font-md: 18px;
  --app-font-sm: 14px;
  --app-font-xs: 12px;
}

/* Обычный Montserrat (от 100 до 900) */
@font-face {
  font-family: "Montserrat";
  src: url("../shared/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

dialog {
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
